body{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Paytone One', sans-serif;
    background-size: 100%;
    height: 100%;
    width: 100%;
  }

  section {
    display: inline;
  }
  