body{
    background-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Paytone One', sans-serif;
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100wh;
    background: black;
    animation: mymove 5s infinite;
  }

  section {
    display: block;
  }

  .game {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

  h1 {
    font-size: 50px;
    color: white;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  .card {
    max-width: 200px;
    height: 85px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    margin: 5px;
    padding: 10px;
    line-height: 80px;
    border: solid red 10px;
}

.card:hover {
    border: solid gold 10px;
}

.title-title {
    background-color: red;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    width: 165px;
}

button {
    display: grid;
    justify-content: center;
    margin: 5%;
    background-color: whitesmoke;
    font-size: 26px;
    overflow: hidden;
}

button:hover {
    background-color: blanchedalmond;
}

.card-text {
    grid-column: 1 / span 5;
    text-align: center;
    font-size: 26px;
}

.option-one {
    background-color: whitesmoke;
    border-radius: 5px;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.option-two {
  background-color: whitesmoke;
  border-radius: 5px;

  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
}

.option-three {
  background-color: whitesmoke;
  border-radius: 5px;

  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.option-four {
  background-color: whitesmoke;
  border-radius: 5px;
  grid-column: 4 / span 2;
  grid-row: 3 / span 1;
}

.modal-container {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    transition: all 900ms ease-in-out;
}

.modal-inside {
    display: grid;
    grid-template-columns: repeat(5, 22.5% 22.5% 10% 22.5% 22.5%);
    grid-template-rows: 100px;
    align-items: center;
    text-align: center;
    color: white;
}

#modal {
    background-color: red;
    backdrop-filter: blur(5px);
    padding: 8%;
    border-radius: 5px;
    justify-content: center;
    margin: 200px 200px 200px 200px;
    max-width: 800px;
    align-items: center;
}

.invisible {
    opacity: 0;
    display: none;
}

@keyframes mymove {
    0% {
      background: black;
    }
    25% {
      background: blue;
    }
    50% {
      background: black;
    }
    75% {
      background: blue;
    }
    100% {
      background: black;
    }
  }